<br><br><br>
<div *ngIf="x == 'modifica'">
    <div *ngIf="studente1" style="width:100%">
        <form [formGroup]="studenteForm" (ngSubmit)="onSubmit(studenteForm.value)">
            <div class="form-group">
                <label style="font-weight:bold">Matricola:</label>
                <input type="text" class="form-control" name="Matricola" aria-describedby="helpId" formControlName="Matricola" disabled>
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Nome:</label>
                <input type="text" class="form-control" name="Nome" aria-describedby="helpId" formControlName="Nome">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Cognome:</label>
                <input type="text" class="form-control" name="Cognome" aria-describedby="helpId" formControlName="Cognome">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Email:</label>
                <input type="text" class="form-control" name="Email" aria-describedby="helpId" placeholder="name@example.com" formControlName="Email">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Data Nascita:</label>
                <input type="date" class="form-control" name="Data_nascita" formControlName="Data_nascita">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Comune Nascita:</label>
                <input type="text" class="form-control" name="Comune_nascita" formControlName="Comune_nascita">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Telefono:</label>
                <input type="text" class="form-control" name="Telefono" aria-describedby="helpId" formControlName="Telefono">
            </div>

            <div class="form-group">
                <label style="font-weight:bold">Id Laurea:</label>
                <input type="text" class="form-control" name="Id_laurea" aria-describedby="helpId" formControlName="Id_laurea">
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <input type="submit" [disabled]="!studenteForm.valid" style="width:100%" class="btn btn-success btn-lg" value="Salva">
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-lg" style="width:100%" type="button" (click)="onCancel()">Annulla</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="x == 'mostra'">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" style="text-align:center">Informazioni studente</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of studenteCompleto1">
            <tr>
                <th class="table-active" style="width:40%">Matricola</th>
                <td style="width:60%">{{item.Matricola}}</td>
            </tr>
            <tr>
                <th class="table-active">Nome</th>
                <td>{{item.Nome}}</td>
            </tr>
            <tr>
                <th class="table-active">Cognome</th>
                <td>{{item.Cognome}}</td>
            </tr>
            <tr>
                <th class="table-active">Email</th>
                <td>{{item.Email}}</td>
            </tr>
            <tr>
                <th class="table-active">Comune di nascita</th>
                <td>{{item.Comune_nascita}}</td>
            </tr>
            <tr>
                <th class="table-active">Data di nascita</th>
                <td>{{item.Data_nascita}}</td>
            </tr>
            <tr>
                <th class="table-active">Nr. Telefono</th>
                <td>{{item.Telefono}}</td>
            </tr>
            <tr>
                <th class="table-active">Corso di laurea</th>
                <td>{{item.NomeCorsoLaurea}}</td>
            </tr>
            <tr>
                <th class="table-active">Voto scuola superiore</th>
                <td>{{item.VotoScuolaSuperiore}}</td>
            </tr>
            <tr>
                <th class="table-active">Nome scuola superiore</th>
                <td>{{item.NomeScuola}}</td>
            </tr>
            <tr>
                <th class="table-active">Città scuola superiore</th>
                <td>{{item.CittaScuola}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center;cursor:pointer" routerLink="/Studenti/Lingue/{{item.Matricola}}" class="table-info">Mostra lingue</th>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center;cursor:pointer" routerLink="/Studenti/Esami/{{item.Matricola}}/{{item.Nome}}/{{item.Cognome}}" class="table-info">Mostra esami</th>
            </tr>
        </tbody>
    </table>
</div>