<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="onPrevious()" [ngClass]="{'disabled':(page==1)}">Previous</a>
    </li>

    <li class="page-item" *ngFor="let number of pages;let i=index" [ngClass]="{'active': (number == page)}">
      <a class="page-link" (click)="onPage(number)">{{number}}</a>
    </li>

    <li class="page-item">
      <a class="page-link" [ngClass]="{'disabled':(page==nPages)}" (click)="onNext()">Next</a>
    </li>
  </ul>
</nav>