<br>
<br>
<br>
<div class="row">
    <div class="col-md-6" style="margin-bottom:20px">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="6" style="text-align:center">Esami studente - <strong style="color:gold">{{nomeStud}} {{cognomeStud}}</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width:20%" class="table-active">Sigla esame</th>
                    <th style="width:40%" class="table-active">Titolo esame</th>
                    <th style="width:10%" class="table-active">Anno</th>
                    <th style="width:8%" class="table-active">Cfu</th>
                    <th style="width:14%" class="table-active">Punti /30</th>
                    <th style="width:8%" class="table-active"></th>
                </tr>
                <tr *ngIf="LunghezzaListaEsamiStudente == 0">
                    <th colspan="6" style="text-align:center">Nessun esame trovato!</th>
                </tr>
                <tr *ngFor="let item of listaEsamiStudente">
                    <td>{{item.Sigla}}</td>
                    <td>{{item.Titolo}}</td>
                    <td>{{item.Anno}}</td>
                    <td>{{item.Cfu}}</td>
                    <td>{{item.Voto}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="OnDel(item.Sigla)"><img style="width:25px;height:25px" src="assets/img/DeleteIco.svg"/></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
                <div class="row" style="margin-left:1%;margin-right:1%">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Cerca</span>
                        </div>
                        <input (keyup)="TextBoxChange($event.target.value)"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <table class="table table-light">
                        <tr>
                            <th style="width:15%;text-align:center">#</th>
                            <th style="width:20%">Sigla</th>
                            <th style="width:40%">Titolo</th>
                            <th style="width:25%">Voto</th>
                        </tr>
                        
                        <tr *ngFor="let item of listaEsami | paginate: { itemsPerPage:8, currentPage: p} ;let i=index">
                            <th>
                                <div style="text-align:center" class="form-check" >
                                    <input class="form-check-input position-static" type="checkbox" value="{{item.Id}}" aria-label="..." [checked]="item.isChecked" (change)="item.isChecked = !item.isChecked">
                                </div>
                            </th>
                            <td>{{item.Sigla}}</td>
                            <td>{{item.Titolo}}</td>
                            <td>
                                <select class="form-control" (change)="item.Voto = $event.target.value " [disabled]="!item.isChecked">
                                    <option [selected]="!item.isChecked" disabled hidden></option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div style="text-align:right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- <input type="submit" style="width:100%" class="btn btn-success btn-lg" value="Salva"> -->
                        <button type="button" style="width:100%" class="btn btn-success btn-lg " (click)="AggiungiEsami()">Salva</button>
                    </div>
                    <div class="col">
                        <button type="button" style="width:100%" class="btn btn-danger btn-lg " (click)="AnnullaEsami()">Annulla</button>
                    </div>
                </div>
    </div>
</div>