<br><br><br>
<div *ngIf="Dipartimento1" style="width:100%">
  <form novalidate [formGroup]="DipartimentoForm" (ngSubmit)="onSubmit(DipartimentoForm.value)">
    <div class="form-group">
      <label style="font-weight:bold">Id</label>
      <input type="text" class="form-control" name="Id" aria-describedby="helpId" formControlName="Id" disabled>
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Nome</label>
      <input type="text" class="form-control" name="Nome" aria-describedby="helpId" formControlName="Nome">
    </div>

    <br>
    <div class="row">
      <div class="col">
        <input type="submit" [disabled]="!DipartimentoForm.valid" style="width:100%" class="btn btn-success btn-lg" value="Salva">
      </div>
      <div class="col">
        <button class="btn btn-danger btn-lg" style="width:100%" type="button" (click)="onCancel()">Annulla</button>
      </div>
    </div>
  </form>
</div>