<br><br><br>
<div *ngIf="Corso1" style="width:100%">
  <form style="padding: 10px 10px 10px 10px" novalidate [formGroup]="CorsoForm" (ngSubmit)="onSubmit(CorsoForm.value)">
    <div class="form-group">
      <label style="font-weight:bold">Sigla</label>
      <input type="text" class="form-control" name="Sigla" aria-describedby="helpId" formControlName="Sigla">
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Titolo</label>
      <input type="text" class="form-control" name="Titolo" aria-describedby="helpId" formControlName="Titolo">
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Docente</label>
      <select class="custom-select" class="form-control" name="Id_docente" aria-describedby="helpId" formControlName="Id_docente">
        <option *ngFor="let item of Docenti" [ngValue]="item.Id">
          {{item.Nome}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Cfu</label>
      <input type="text" class="form-control" name="Cfu" aria-describedby="helpId" formControlName="Cfu">
    </div>

    <div class="form-group">
        <label style="font-weight:bold">Ssd</label>
        <input type="text" class="form-control" name="Ssd" aria-describedby="helpId" formControlName="Ssd">
      </div>

    <br>
    <div class="row">
      <div class="col">
        <input type="submit" [disabled]="!CorsoForm.valid" style="width:100%" class="btn btn-success btn-lg" value="Salva">
      </div>
      <div class="col">
        <button class="btn btn-danger btn-lg" style="width:100%" type="button" (click)="onCancel()">Annulla</button>
      </div>
    </div>
  </form>
</div>