<div class="row">
    <div class="col-md-7">
        <br><br><br>
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>Matricola</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Data di nascita</th>
                    <th>
                        <div class="input-group">  
                            <div class="input-group-prepend" style="height:30px;font-size:16px;line-height:15px;">
                                <label class="input-group-text" for="inputGroupSelect01">Righe</label>
                            </div>
                            <select class="custom-select" style="height:30px;font-size:16px;line-height:15px;" (change)="onChangeNumeroRighe($event.target.value)"  id="inputGroupSelect01">
                                <option value="3" >3</option>
                                <option value="5" >5</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of studenti">
                    <th>{{item.Matricola}}</th>
                    <td>{{item.Nome}}</td>
                    <td>{{item.Cognome}}</td>
                    <td>{{item.Data_nascita}}</td>
                    <td> 
                        <button type="button" class="btn btn-secondary" (click)="OnShow(item)"><img style="width:25px;height:25px" src="assets/img/MoreIco.svg"/></button>
                        <button type="button" class="btn btn-warning" (click)="OnEdit(item)"><img style="width:25px;height:25px" src="assets/img/EditIco.svg"/></button>
                        <button type="button" class="btn btn-danger" (click)="OnDel(item.Matricola)"><img style="width:25px;height:25px" src="assets/img/DeleteIco.svg"/></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6">
                <app-pagination [page]="page" [nPages]="nPages"(onClick)="onClick($event)"></app-pagination>
            </div>
            <div class="col-md-6" style="text-align:right;">
                <button type="button" class="btn btn-success btn-md " style="width:400px;height:38px;line-height:19px;margin-left:20px;" (click)="OnInsert()">Inserisci</button>
            </div>
        </div>         
    </div>

    <div class="col-md-5">
        <app-studente-dettagli [studente1]="editStudente" [x]="scelta" (onEditSave)="onEditSave($event)" (onEditCancel)="onEditCancel($event)"></app-studente-dettagli>
    </div> 

</div>