<br><br><br>
<div *ngIf="Scuola1" style="width:100%">
  <form style="padding: 10px 10px 10px 10px" novalidate [formGroup]="ScuolaForm" (ngSubmit)="onSubmit(ScuolaForm.value)">
    <div class="form-group">
      <label style="font-weight:bold">Id</label>
      <input type="text" class="form-control" name="Id" aria-describedby="helpId" formControlName="Id" disabled>
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Nome</label>
      <input type="text" class="form-control" name="Nome" aria-describedby="helpId" formControlName="Nome">
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Città</label>
      <input type="text" class="form-control" name="Citta" aria-describedby="helpId" formControlName="Citta">
    </div>

    <div class="form-group">
      <label style="font-weight:bold">Titolo</label>
      <input type="text" class="form-control" name="Titolo" aria-describedby="helpId" formControlName="Titolo">
    </div>

    <br>
    <div class="row">
      <div class="col">
        <input type="submit" [disabled]="!ScuolaForm.valid" style="width:100%" class="btn btn-success btn-lg" value="Salva">
      </div>
      <div class="col">
        <button class="btn btn-danger btn-lg" style="width:100%" type="button" (click)="onCancel()">Annulla</button>
      </div>
    </div>
  </form>
</div>